body{
    background-color: aliceblue;;
    color: black;
}

.mainContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.assignContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    background-color: lavender;
    max-width: 1000px;
}

.assignCard{
    display: flex;
    flex-flow: column wrap;
    border: 4px double black;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    margin: 25px;
    width: 200px;
    text-justify: auto;
}

.assignTitle{
    background-color: rgba(255, 250, 250, 0.849);
    border: 2px groove darkgrey;
}

.test{
    color: black;
}
.dinoName{
    color: bisque;
}
.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: auto;
    border: 2px solid red;
    max-width: 1000px;
    background-color: rgb(73, 51, 21);
    opacity: .7;
}
img{
    height: 200px;
    width: 200px;
}
.cardDiv{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    border: 2px solid blue;
    margin: 20px 0px 20px 0px;
    background: transparent;
    width: 500px;
}